@font-face {
    font-family: mmsarica_csi;
    src: url('../images/mmsarica_csi.ttf');
    }

body{
	background-color: black;
}

#messages{
    position:relative;
    color: white;
    top:0;
    
}

#chatwindow{
    position:relative;
    width: 70%;    
    height: 100%; 
}

#msgform{
    position: relative;
    bottom: 0px;
    left: 00px;
	
}


#wrongpassword{
  position: absolute;
  bottom: 40px;
  left: 90px;
}

#hackingtooldiv{
  position: absolute;
  position: fixed;
  height: 400px;
  width: 400px;
  right:0;
  bottom: 0;
  z-index:10;
  
}

#hackingtab{
		position: absolute;
		border-style: double;
    		right:0;
		bottom:0;
		z-index: 3;
		border-width: 8px 8px 0 8px;
		border-radius: 15px 15px 0 0;
		background-color: white;
		height: 300px;
		width: 300px;
}

#minimizebtn{
  position: absolute;
  z-index: 4;
  top: 105px;
  right:16px;
  width: 15px;
  height: 15px;
  background-color: white;
}

#tabname{
  position: absolute;
  color: green;
  z-index: 4;
  top: 85px;
  right: 210px;
  font-family: Arial;
}

#hackingtool{
  position: absolute;
  right:0;
  bottom:0;
  z-index: 2;
  height: 352px;
  width: 325px;
}

#progressBar{
  position: absolute;
  z-index: 1;
  right:8px;
  width: 300px;
  height: 25px;
  border: 1px solid green;
}

#per{
  position: absolute;
  top: 2px;
  right: 170px;
  z-index: 2;
  color: white;

}

#fakeinput{
  position: absolute;
  z-index: 1;
  top:20px;
  left: 10px;
  width: 275px;
  height: 220px;
}

#hacksubmit{
  position: absolute;
  z-index: 2;
  bottom: 10px;
  width: 70px;
  height: 30px;
  left:10px;
}

#minimized{
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 20px;
  background-color: white;
  border-style: double;
  border-width: 8px 8px 0 8px;
  border-radius: 15px 15px 0 0;
}

button > img{
  position: absolute;
  top: -3px;
  right: -1px;
}

.greentxt{
	font-family: Courier New;
	color: green;
}

.helptxt{
	color: orange;
}

.error{
  color: red;
}


form{
	position: absolute;
	top: 50%;
	left: 20%;
	
}


h1 {
	/*text-shadow: -1px 0 #008000, 0 1px #008000, 1px 0 #008000, 0 -1px #008000;*/
	/*text-shadow: 2px 2px 8px #008000;*/
  position: relative;
  left: 10%;
  top: -5%;
  text-shadow: 0 0 15px #008000;
	color: white;
	font-family: mmsarica_csi;
	font-size: 90px;
}

P{
  color:green;
}

label{
  color:green;
}

nav{
  height: 30px;
  width: 100%;
}

nav > div > ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

nav > div > ul > li{
  float: left;
}

nav > div > ul >li > a{
  color: white;
  text-align: center;
  padding: 8px;
}

a:hover{
  color: red;
}

header{
  height: 100px;
  width: 100%;
}

section{
}

#blanksection{
  height: 430px;
  width: 100%;
}

#indexsection {
  top: 25%;
	height: 450px;
  width: 100%;
}

#whatsection{
  top: 25%;
	height: 600px;
  width: 100%;
}

article {
	position: relative;
	top: 300px;
	right: 50px;
	width: 500px;
	height: 400px;
	float: right;

}

footer {
  position: relative;
  height: 50px;
  width: 100%;
  bottom: 0;
  z-index: -1000;
}

#foot{
  position: absolute;
  font-size: 11px;
}

iframe{
  border: 0;
}

#popup1{
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid green;
  top: 400px;
  left: 50px;
}

#popup2{
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: white;
  border: 1px solid green;
  bottom: 100px;
  right: 400px;
}

#popup3{
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 100px;
  top:200px;
  left: 400px;
  background-color: white;
    border: 1px solid green;
}

#popup4{
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 100px;
  top:200px;
  left: 400px;
  background-color: white;
    border: 1px solid green;
}


#popup1 > p{
  font-size: 30px;
  text-align: center;
  color:orange;
}

#popup1 > button{
  position: absolute;
  left: 90px;
}

#popup2 > p{
  font-size: 20px;
  text-align: center;
  color: orange;
}

#popup3 > p{
  font-size: 30px;
  text-align: center;
  color: red;
}

#popup4 > p{
  font-size: 30px;
  text-align: center;
}

#gotodesign{
  position: absolute;
  left: 45px;
  bottom: -50px;
}

#login{
  z-index: 1
}

#bugdiv{
    position: absolute;
    right:100px;
    height: 170px;
    width: 150px;
    top: 40px;

}

#bugtxt{
	position: absolute;
	bottom:20px;
	color: orange;

}

#bug{
  position: absolute;
  max-width:70%;
  max-height:70%;
}

#mainpage{
	position: relative;
}

*{
  border: solid red 1px;
}
